html {
  box-sizing: border-box;
}

*,::after, ::before {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  max-width: 1200px;
  margin: 0 auto !important;
  font-family: "Lato", sans-serif;
  word-break: break-word;
}
    